<html>
	<h1>
		{{ .title }}
	</h1>
	<body>
	<p>
	You obtained a list of accounts!
	</p>
	      <textarea id="accounts-area" name="accounts-area" rows="30" cols="75">
        {{.accounts}}
        </textarea>
	</body>

</html>